# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
static_root/
local_settings.py
media.zip
# Django Migrations

**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/__pycache__/

# Virtualenv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.vscode/
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Test and coverage
.coverage
htmlcov/
.tox/
.nox/
.pytest_cache/
.cache/
nosetests.xml
coverage.xml

# Pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
.pyre/

# Pyre type checker
.pyre/

# VS Code settings
.vscode/


package-lock.json   
# Node modules
node_modules/
.env

*/script.py